.example-parent {
  border: 2px solid #DFA612;
  color: black;
  display: flex;
  font-family: sans-serif;
  font-weight: bold;
}

.example-origin {
  flex-basis: 100%;
  flex-grow: 1;
}

.example-draggable {
  background-color: white;
  font-weight: normal;
    border: 1px solid black;
    position:relative;

}

.example-dropzone {
  background-color: white;
  flex-basis: 100%;
  flex-grow: 1;
    position:relative;

    
    

}