body{
    background-color:black;
}
.mrg1 {
    margin-left:150px;
    margin-right:8px;
}
.mrg2 {
    margin-right:100px;
    margin-left:8px;
}
img{
    margin-top:50px;
}
.container {
    width:1500px;
}