body {background-color:mistyrose;}
            .contain {
                width:1200px;
            }
            .banner {
                width: 1000px;
                height: 120px;
                background-image:linear-gradient(to bottom, pink, lightpink);
                margin-left:auto;
                margin-right:auto;
                margin-top: 30px;
                text-align:center;
                font-size:70px;
                padding-top:40px;
                color:seashell;
            }
            .column {
                float:left;
                padding: 10px;
                width: 100px;
            }
            .button:hover {
                border: 1px solid #F65489;
                box-shadow: 1px 1px 8px coral;
            }
            .model {
                width:450px;
                height:300px;
                margin-left:100px;
                margin-right:auto;
                margin-top:15px;
            }
            .shopping {
                width:525px;
                height:300px;
                margin-left:auto;
                margin-right:100px;
                margin-top: -300px;
                float:right;
                color:maroon;
            }
            p{
                font-size:18px;
            }
            .makepay {
                background-color:pink;
                color:seashell;
                font-size:18px;
                border: 2px solid palevioletred;
                margin-right:10px;
                text-decoration:none;
            }